In [1]:
# 2024Y 38L updated

import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("GLB.Ts+dSST.csv", header =1)
df = df.iloc[:, :13]

In [3]:
# df.info()

In [4]:
to_convert = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep',
       'Oct', 'Nov', 'Dec']

df = df.replace({'***':pd.NA})
df[to_convert] = df[to_convert].apply(pd.to_numeric, errors='coerce')
df = df.fillna('***')
df

,Year,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec
0,1880,-0.20,-0.25,-0.09,-0.16,-0.09,-0.22,-0.20,-0.09,-0.15,-0.22,-0.22,-0.18
1,1881,-0.19,-0.15,0.02,0.04,0.07,-0.19,0.01,-0.04,-0.16,-0.22,-0.18,-0.07
2,1882,0.16,0.14,0.05,-0.15,-0.13,-0.22,-0.16,-0.07,-0.14,-0.23,-0.17,-0.36
3,1883,-0.29,-0.36,-0.12,-0.18,-0.18,-0.07,-0.07,-0.14,-0.22,-0.11,-0.24,-0.11
4,1884,-0.12,-0.08,-0.36,-0.40,-0.33,-0.35,-0.30,-0.28,-0.27,-0.25,-0.33,-0.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...
140,2020,1.17,1.24,1.17,1.12,1.01,0.91,0.89,0.86,0.98,0.87,1.1,0.79
141,2021,0.81,0.64,0.89,0.76,0.79,0.84,0.92,0.82,0.92,0.99,0.93,0.87
142,2022,0.91,0.89,1.05,0.84,0.84,0.92,0.94,0.95,0.89,0.96,0.73,0.8
143,2023,0.87,0.96,1.22,0.99,0.94,1.08,1.19,1.19,1.48,1.34,1.42,1.35
144,2024,1.24,1.43,1.40,1.32,1.16,1.25,1.21,1.30,***,***,***,***

In [5]:
df.to_csv("glb_temp.csv")